version: '3'

services:
  jekyll:
    image: jekyll/jekyll
    container_name: resume-website
    command: jekyll serve --watch --incremental
    ports:
      - 4000:4000
      - 35729:35729
    volumes:
      - ./:/srv/jekyll